<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

{% extends "todo/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Trajet vers {{ todo.title }}</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title"><b>Arrivée</b></label>
                    <p>{{ todo.title }}</p>
                </div>
                <div class="form-group">
                    <label for="datetime"><b>Date et heure prévue</b></label>
                    <p>{{ todo.datetime }}</p>
                </div>
                <div>
                    <table>
                        <tr>
                          <th>Conducteur</th>
                          <th>Numero</th>
                          <th>Compagnie</th>
                          <th>Voiture</th>
                        </tr>
                        <tr>
                          <td>{{ todo.user.first_name }}</td>
                          <td>{{ todo.user.mobile_number }}</td>
                          <td>{{ todo.user.company }}</td>
                          <td>{{ todo.car_type }}</td>
                        </tr>
                      </table>
                </div>
                <br>
                <div class="form-group">
                    <label for="memo"><b>Remarques</b></label>
                    <p>{{ todo.memo }}</p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}